<div class="panel">
  <div class="paneltitle">
    Please Login
    <% if @message.nil? == false %>
      <p class="error"><%= @message %></p>
    <% end %>
  </div>
  <div class="panelbody">
    <%= form_for :user, url: { :action => 'create' } do |f| %>
      <%= f.text_field :email,  placeholder: 'Enter Email Address' %>
      <%= f.password_field :password,  placeholder: 'Enter Password' %>
      <%= f.submit 'Login' %>
    <% end %>
  </div>
</div>
