<h4><%= @message %></h4>
<ul class="imagelist">
  <% @images.each do |image| %>
    <li>
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="imagetitle">
                <%= image.title %>
            </div>
            <div class="modifybuttons">
              <div class="edit">
                <%= form_for :image, url: { :action => 'edit' } do |f| %>
                <%= f.hidden_field :id, :value => image.id %>
                <%= f.submit 'Edit', class: 'btn btn-default' %>
                <% end %>
              </div>
              <div class="delete">
                <%= form_for :image, url: { :action => 'delete' }, method: :patch do |f| %>
                <%= f.hidden_field :id, :value => image.id %>
                <%= f.submit 'Delete', class: 'btn btn-danger' %>
                <% end %>
              </div>
            </div>
        </div>
        <div class="panel-body">
          <figure>
            <img src="<%= image.url %>" alt="<%= image.title %>" />
          </figure>
          <figcaption>
            <%= image.description %>
          </figcaption>
        </div>
      </div>
    </li>
    <% end %>
</ul>
