<!DOCTYPE html>
<html>
<head>
  <title>Rails Image Bank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    <h1>Rails Image Bank</h1>
    <nav>
      <ul class="nav nav-tabs">
        <li><a href="/">Home</a></li>
        <li><a href="/images/new">Add an Image</a></li>
      </ul>
    </nav>
    <div class="auth clearfix">
        <% if current_user.nil? %>
          <a href="/users/login">Login</a> |
          <a href="/users/register">Register</a>
        <% else %>
          Logged in as: <%= current_user.name %> |
          <a href="/users/logout">Log out</a>
        <% end %>
    </div>
  </header>

<%= yield %>
<footer>Image Bank on Rails is brought to you by Swimclan Studions.  &copy;2015.  All Rights Reserved.</footer>

</body>
</html>
